.mediabar {
  background: var(--gray);
  width: 100%;
  position: fixed;
  height: 90px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--black);
  font-family: 'lineto-circular-book'
}

.play-pause {
  max-width: 35px;
  margin-left: 25px;
  margin-right: 25px;
}

.media-bar-div {
  display: flex;
}

.media-bar-cover-art {
  width: 56px;
  height: 56px;
  background: rgb(15, 15, 15);
  min-height: 56px;
  min-width: 56px;
  margin-left: 16px;
  margin-right: 13px;
  box-shadow: 0px 0px 15px -7px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-bar-div-song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media-bar-div-song-info p:nth-child(1) {
  font-size: 14px;
  color: white;
}

.media-bar-div-song-info p:nth-child(2) {
  font-size: 12.5px;
  color: rgb(174,174,174);
}

.media-bar-div-song-info p:nth-child(2):hover {
  color: var(--white);
  text-decoration: underline;
}

// 
// 
// 

h1 {
  font-family: arial;
  margin: 0;
  // padding-left: 20px;
  // line-height: 50px;
}

.player {
  float: left;
  width: 400px;
  font-family: arial;
}

.tracklist {
  float: left;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.tracklist li {
  background: salmon;
  padding: 10px 20px;
}

.tracklist li:hover {
  font-weight: bold;
  cursor: pointer;
}

.buttons {
  float: left;
  width: 100%;
}

.buttons button {
  float: left;
  width: 100px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  background: white;
}

.buttons button:hover {
  background: salmon;
  font-weight: bold;
}

.timebar {
  float: left;
  width: 100%;
  height: 30px;
  background: black;
  color: white;
}

.bar {
  float: left;
}

.time {
  float: right;
  text-align: center;
  line-height: 30px;
  width: 100px;
}



.left-div {
  width: 20%;
  height: 56px;
  // background: blue;
}

.center-div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.controls-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progress-bar-div {
  display: flex;
  justify-content: center;
  color: var(--ltgray);
  font-size: 12.5px;
  align-items: center;
}

.current-time {
  min-width: 40px;
}








// .progress {
//   // width: 90%; 
//   // height: 20px; 
//   // background-color: blue;
//   position: absolute;
//   height: 4px;
//   background: rgb(83,83,83);
//   cursor: pointer;
//   border-radius: 50px;
//   width: 80%;
// }

// .bar {
//   // width: 90%;
//   // height: 15px;
//   // background-color: white;
//   position: absolute;
//   left: 5px;
//   right: 5px;
//   top: 5px;
//   bottom: 5px;
//   // width: 50%;
//   // background: var(--ltgray);
//   // border-radius: 50px;
// }
// .bar > div {
//   position: absolute;
//   left: 0;
//   top: 0;
//   bottom: 0;
//   width: 50%;
//   background: white;
// }

// .progress-bar-div:hover .bar {
//   background: rgb(29, 285, 84)
// }

.progress {
  position: absolute;
  left: 150px;
  top: 70px;
  right: 100px;
  bottom: 5px;
  background: black;
  cursor: pointer;
}

.progress > .bar {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.progress > .bar > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  // width: 50%;
  background: white;
}




@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 300px;
      height: 4.6px;
      border-radius: 10px;
      -webkit-appearance: none;
      background-color: rgb(81, 81, 81);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 15px;
      // cursor: ew-resize;
      // background: #434343;
      background: var(--white);
      box-shadow: -300px 0 0 300px var(--ltgray);
      // &:hover {
      //   box-shadow: -300px 0 0 300px rgb(29, 185, 84)
      // }
    }

    .progress-input-range-div:hover input[type='range']::-webkit-slider-thumb {
      box-shadow: -300px 0 0 300px rgb(29, 185, 84)
    }
}



















.media-bar-duration {
  // min-width: 4%;
  // display: flex;
  // flex-direction: row-reverse;
  min-width: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.right-div {
  width: 20%;
  height: 50px;
  // background: blue;
}


















// 
// .player {
//   margin: 15px 0;
//   background: black;
//   width: 50%;
//   height: 20px;
//   background-color: green;
//   position: relative;
// }

// .controls {
//   float: left;
// }

// .controls > a {
//  text-decoration: none;
//  height: 50px;
//  width: 50px;
//  box-sizing: border-box;
//  text-align: center;
//  padding: 15px 0;
//  float: left; 
//  color: white;
// }

// .controls > a:hover {
//   text-decoration: wavy;
//   background-color: #084380;
//   color: #b3b3b3
// }

// .progress {
//   position: absolute;
//   left: 4px;
//   top: 4px;
//   right: 4px;
//   bottom: 4px;
//   background: black;
//   cursor: pointer;
// }

// .progress > .bar {
//   position: absolute;
//   left: 3px;
//   right: 3px;
//   top: 3px;
//   bottom: 3px;
// }

// .progress > .bar > div {
//   position: absolute;
//   left: 0px;
//   top: 0;
//   bottom: 0;
//   width: 25%;
//   background: white;
// }





// .fa {
//   display: inline-block;
//   font: normal normal normal 14px/1 FontAwesome;
//   font-size: inherit;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .fa-play-circle-o:before {
//   content: "\f01d";
// }

// .fa-play-circle:before {
//   content: "\f144";
// }

// .fa-play:before {
//   content: "\f04b";
// }

// .fa-pause:before {
//   content: "\f04c";
// }
// .fa-pause-circle-o:before {
//   content: "\f28c";
// }
// .fa-pause-circle-o:before {
//   content: "\f28c";
// }


