
.lineto-test {
  font-family: 'lineto-circular-black';
  font-size: 155px;
  letter-spacing: -5.5px;
  color: rgb(104, 217, 98);
  
}

.background-blue {
  background: rgb(45, 70, 185);
  height: 100%;

}

@media only screen and (max-width: 1300px) {
  .background-blue {
    background: red;
  }
}

// .nav {
//   position: fixed;;
// }

.nav1 {
  background: black;
  // height: 80px;
}

.nav1-btns {
  color: blue;
}

.logo2 {
  max-width: 160px;
  // padding-top: 18px;
  // margin-left: 128px;
}

header {
  background: maroon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

// .nav1-btns-div {

// }

