.section1 {
  height: 100vh;
  margin: 0;
  // background: var(--blue);
  background: 
    linear-gradient(to top,rgba(0,0,0,1),rgba(255,255,255,0)),
    linear-gradient(to right, rgb(161, 102, 155), rgb(120, 152, 197));
}

.section1-div {
  margin: 0 auto;
  width: 79.1%;
  padding-top: 140px;
  // background: blue;;
  display: flex;
  justify-content: space-between;
}

.section1-div1 {
  // background: green;
  width: 35%;
  padding: 14px;
  padding-top: 84px;
}
.section1-div1 > h1 {
  font-size: 80px;
  font-family: 'lineto-circular-black';
  color: var(--white);
  letter-spacing: -0.04em;
  line-height: 1.15;
}

.section1-div1 > h2 {
  font-size: 23px;
  font-family: 'lineto-circular-black';
  color: var(--white);
  margin-right: -8px;
  letter-spacing: .2px;

}

.section1-div2 {
  // background: red;
  width: 76%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -3px;
}

.section1-div2 img {
  min-width: 237px;
  max-width: 237px;
  padding: 8px;
}







.section2 {
  height: 78vh;
  margin: 0;
  background: 
    linear-gradient(to right, rgb(44, 94, 146), rgb(85, 47, 109));    
}

.section3 {
  height: 51vh;
  margin: 0;
  background: var(--white);
  margin-bottom: 200px;
}





// .splash-msg {
//   font-family: 'lineto-circular-black';
//   font-size: 155px;
//   letter-spacing: -5.5px;
//   color: var(--green);
// }
