.section1 {
  // height: 100vh;
  min-height: 100vh;
  // height: fit-content;
  // padding-bottom: 125px;
  padding-bottom: 200px;
  // background: var(--blue);
  background: 
    linear-gradient(to top,rgba(0,0,0,1),rgba(255,255,255,0)),
    linear-gradient(to right, rgb(161, 102, 155), rgb(120, 152, 197));
}

.section1-div {
  padding-top: 140px;
  display: flex;
  // margin-left: auto;
  // margin-right: auto;
  // width: 1170px
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.section1-div1 {
  // background: green;
  // width: 35%;
  width: 365px;
  padding: 19px;
  padding-top: 84px;
  margin-left: 12.5px;
  margin-right: -11px;
}
.section1-div1 > h1 {
  font-size: 80px;
  font-family: 'lineto-circular-black';
  color: var(--white);
  letter-spacing: -0.04em;
  line-height: 1.15;
}

.section1-div1 > h2 {
  font-size: 23px;
  font-family: 'lineto-circular-black';
  color: var(--white);
  margin-right: -8px;
  letter-spacing: .2px;

}

.section1-div2 {
  // background: red;
  // width: 76%;
  // width: 40%;
  width: 770px;
  margin-top: 8px;
  align-self: center;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // margin-right: -3px;
}

.section1-div2 ul {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, .322fr);
  grid-gap: 16px;
}

.splash-song-div {
  position: relative;
}
.splash-song-name-div {
  display: none
}

.splash-song-div:hover .splash-song-name-div {
  display: initial;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-song-name-div svg {
  margin-bottom: 15px;
}

.splash-song-name-div h1 {
  font-family: 'lineto-circular-book';
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.splash-song-name-div p {
  font-family: 'lineto-circular-book';
  font-size: 14px;
  color: var(--ltgray);
  text-align: center;
}

// .section1-div2 img {
//   min-width: 237.40px;
//   max-width: 237.40px;
//   padding: 8px;
// }

.web-player-btn-div {
  float: left;
  padding-top: 51px;
}

.web-player-btn {
  background-color: #58ba55;
  color: white;
  padding: 17.5px 55.5px;
  border-radius: 30px;
  margin-bottom: 9px;
  font-size: 16px;
  font-family: 'lineto-circular-black';
  letter-spacing: 2px;
  transition: 0.3s;
}

.web-player-btn h1 {
  margin-top: 2px;
}

.web-player-btn:hover {
  background-color: #67d962;
}




// temporarily adding margin-bottom to section 1 instead of section 3
.section1 {
  margin-bottom: 200px;
}

// section 2 and 3 don't have content yet
// .section2 {
//   height: 78vh;
//   margin: 0;
//   background: 
//     linear-gradient(to right, rgb(44, 94, 146), rgb(85, 47, 109));    
// }

// .section3 {
//   height: 51vh;
//   margin: 0;
//   background: var(--white);
//   margin-bottom: 200px;
// }




// 'Listening is everything...'
// .splash-msg {
//   font-family: 'lineto-circular-black';
//   font-size: 155px;
//   letter-spacing: -5.5px;
//   color: var(--green);
// }


@media only screen and (max-width: 1180px) {
  .section1-div1 {
    padding: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
  }

  .section1-div2 {
    margin-left: 3%;
  }
}
